@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

@font-face {
  font-family: Joystix;
  src: url("../../assets/joystix.ttf") format("truetype");
}

@font-face {
  font-family: Ligconsolata;
  src: url("../../assets/Ligconsolata.otf") format("truetype");
}

.background-gradient {
  background: linear-gradient(152.52deg, #0064a7 28.21%, #023354 93.95%);
}

.whole_page {
  background-color: transparent;
  background-image: url("../../assets/leaderbg.svg");
  height: 100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader-logo {
  width: 400px;
  margin: 1.5rem 0;
  pointer-events: none;
}

#darken {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(152.52deg, #0064a7 28.21%, #023354 93.95%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#map-loading {
  position: absolute;
  z-index: 10;
  left: calc(50% - 125px);
  top: calc(50% - 100px);
  height: 200px;
  width: 250px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pikachu {
  width: 200px;
}

.tables {
  height: 100%;
  width: 70vw;
  margin: 0 auto;
  border-spacing: 0 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80%;
}

.fixedHeader {
  border-spacing: 0 1rem;
  padding-right: 25px;
}

.heading {
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  color: var(--yellow2);
  font-size: 1.6rem;
  margin: 1.2rem 0;
  font-family: Joystix;
  padding: 10px 0;
}

.heading th {
  padding: 10px 5px;
  border-bottom: 4px solid var(--yellow2);
}

.heading th:nth-child(1) {
  width: 10vw;
}

.heading th:nth-child(2) {
  max-width: 50vw;
  width: 50vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.heading th:nth-child(3) {
  width: 10vw;
}

.heading th:nth-child(4) {
  width: 10vw;
}

.scrolldown {
  overflow-y: scroll;
  border-spacing: 0 1rem;
  padding-right: 15px;
}

.scrolldown::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.scrolldown::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrolldown::-webkit-scrollbar-track {
  border-radius: 5px;
}

.scrolldown::-webkit-scrollbar-thumb {
  background: var(--yellow2);
}

.scrolldown::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.names {
  color: var(--yellow2);
  height: 2rem;
  font-size: 1.5rem;
  font-family: "Ligconsolata";
  font-weight: 700;
  border-radius: 5%;
  text-align: center;
  font-weight: bolder;
  /* background-color: black; */
}

.names td {
  /* border-bottom: solid 3px var(--yellow2); */
  /* border-style: solid none; */
  padding: 10px 5px;
}

.names td:nth-child(1) {
  width: 10vw;
  /* border-left-style: solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
}

.names td:nth-child(2) {
  max-width: 50vw;
  width: 50vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.names td:nth-child(3) {
  width: 10vw;
}

.names td:nth-child(4) {
  width: 10vw;
  /* border-right-style: solid;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; */
}

.footer-logo {
  width: 300px;
  margin: 0.5rem 0;
  pointer-events: none;
}

@media screen and (max-width: 650px) {
  .tables {
    width: 80vw;
  }

  .heading {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .names {
    font-size: 1.2rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .leader-logo {
    width: 80%;
  }

  .tables {
    width: 90vw;
  }

  .fixedHeader {
    padding-right: 7px;
  }

  .scrolldown {
    padding-right: 7px;
    border-spacing: 0 0.7rem;
  }

  .scrolldown::-webkit-scrollbar {
    width: 5px;
  }

  .heading {
    font-size: 1rem;
    margin: 0.7rem 0;
  }

  .heading th:nth-child(2) {
    max-width: 40vw;
    width: 40vw;
  }

  .heading th:nth-child(1),
  .heading th:nth-child(3),
  .heading th:nth-child(4) {
    width: 15vw;
  }

  .names {
    font-size: 1rem;
    height: 1rem;
    height: 2rem;
  }

  .names td {
    padding: 5px;
  }

  .names td:nth-child(2) {
    max-width: 40vw;
    width: 40vw;
  }

  .names td:nth-child(1),
  .names td:nth-child(3),
  .names td:nth-child(4) {
    width: 15vw;
  }

  .footer-logo {
    width: 70%;
  }
}
